
<footer class="bg-dark mt-auto">
    <small class="text-muted">This page took <%= performance.now() - time0 %> ms to load</small>
    <span class="text-muted text-end">&copy;YelpCamp 2021</span>
  </footer>